body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  margin: 30px;
  width: 300px;
}

.card-list {
  display:flex;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .parallax {
    width: 100%;
}

  .brand-text {
    margin-left: 80px;

  }

.brand-logo {
  height: auto;
  width: auto;
  max-height: 65px;
  max-width: 250px;
  margin-left: -60px;
}

 
