@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=EB+Garamond&family=Libre+Baskerville&display=swap');

body {
  margin: 0;
  background-color: #f59090;
}

main {
  flex: 1 0 auto;
}

.movies {
  background-color: pea;
}
.material-icons {
  margin-top: 50px;
  padding: 0 10px;
}

.movieTitle {
  color: #004d40;
  font-size: larger;
  font-weight: bolder;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 60px;
}

.button {
  display: flex;
  justify-content: center;
}

.card {
  padding: 10px;
}

.date-text {
  text-align: center;
  color: #138f7a;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.videoSearchContainer {
  flex-basis: 400px;
}

.card-list-cus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-title {
  color: #004d40;
  font-weight: bolder;
}

.movieTitle {
  text-align: center;
  padding-top: 15px;
}

.customer-padding {
  padding-top: 40px;
}

.parallax-container {
  /* min-height: 380px; */
  /* line-height: 0; */
  /* height: 100%; */
  color: rgba(255, 255, 255, 0.9);
}

.parallax {
  width: 100%;
}

.image-banner {
  top: 0;
  position: fixed;
  width: 100%;
  padding: 60px 0;
}

.brand-text {
  margin-left: 80px;
}

.brand-logo {
  height: auto;
  width: auto;
  max-height: 65px;
  max-width: 250px;
  margin-left: -60px;
}

.page-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgb(250, 123, 123);
}

